# Application Port
PORT=3000

# Container User/Group & Timezone
PUID=1000
PGID=1000
TZ=Asia/Kolkata

# Surfshark VPN Credentials (Gluetun)
SURFSHARK_WIREGUARD_PRIVATE_KEY=your_surfshark_wireguard_private_key
SURFSHARK_WIREGUARD_ADDRESSES=10.14.0.2/32
SURFSHARK_COUNTRY=Netherlands

# Prowlarr Integration
PROWLARR_BASE_URL=http://gluetun:9696
PROWLARR_API_KEY=your_prowlarr_api_key

# qBittorrent Integration
QBITTORRENT_BASE_URL=http://gluetun:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin

# Default Download Directory inside containers
DEFAULT_DOWNLOAD_DIR=/downloads


OMDB_API_KEY=your_api_key_for_omdb
TMDB_API_KEY=your_api_key_for_tmdb

